<div class = "example-container">
    <h2>Hidden Folders</h2>
    <button
        class="btn align-self-end px-4"
        (click)="onCancel()">Cancel</button>
    <div class= "example-list"
        cdkDropList
        [cdkDropListData]="user.folders"
        (cdkDropListDropped)="drop($event)">
        <div class = "example-box" *ngFor="let folder of user.folders" cdkDrag>
            <mat-card  style="width: max-content;margin:2em;padding-top:0;padding-left:0;padding-right:0">
                <mat-card-content>
                    {{folder.folderName}}
                </mat-card-content>
            </mat-card>
        </div>
    </div>

</div>