<h1 mat-dialog-title class="cart-title">Your cart info</h1>
<div mat-dialog-content>
  <p>Please login:</p>
  <mat-form-field appearance="outline" class="fix-prefix" floatLabel="always">
    <mat-label>Username</mat-label>
    <input
      matInput
      [(ngModel)]="userData.username"
    />
  </mat-form-field>
  <mat-form-field appearance="outline" class="fix-prefix" floatLabel="always">
    <mat-label>Password</mat-label>
    <input
      matInput
      [(ngModel)]="userData.password"
    />
  </mat-form-field>
</div>

<div mat-dialog-actions class="buttons">
  <button mat-raised-button (click)="onCancel()">
    Cancel
  </button>
  
  <button
    mat-raised-button
    (click)="loginUser()"
  >
    Login
  </button>
</div>